<!DOCTYPE html>
<html lang="<%= config.language %>">
    <%- partial('_partial/head') %>
    <body>
        <div class="paper">
            <div class="paper-main">
                <%- body %>
                <%- partial('_partial/footer') %>
            </div>
        </div>
    </body>
</html>